@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

/* h1 e quadradinho animados */

h1{
    font-size:1.2rem;
    display: block;
    width: 20%;
    float: left;
    animation-name: titulo;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.quadrado{
    text-indent: -9999px;
    display: block;
    width: 100%;
    margin-right: 1%;
    float: left;
    background-color: #55acfe; 
    animation-name: quadradinho;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}
@keyframes quadradinho{
    from{width:70%;}
    to{width:1%}
}
@keyframes titulo{
    from{width:25%;}
    to{width:97%}
}


/* Pesquisas */
.row{
    margin-right: 0;
    margin-left: 0;
}
form{
    clear: both;
    margin-top: 2%;
    background-color: #f0f0f0;
    padding-top: 2%;
    width:100%;
}

select, input{
    display: block;
    width: 100%;
    color: gray;
    border: 1px solid #55acfe;
    padding: 0.3rem; 
    
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.selecionar{
    overflow:hidden; 
}
.selecionar select{
    background: url(../../assets/seta.png) no-repeat #fff;  
    background-position: 97% center;
    background-size:10px;
    color:#000; 
    text-indent: 0.01px; 
    text-overflow: "";      
}

.centro{
    justify-content: center;
}

label{
    width: 100%;
    text-align: left !important; 
}
/* BUSCA */

#box_icone_busca{
    width: 25px;
    height: 25px;
    position: relative;
    top: -1.9rem;
    left: 87%;
}
#placa{
    height: 2.3rem;

}
#icone_busca {
    color: #55acfe;
    cursor: pointer;
}



h2{
    width: 100%;
    text-align: center;
}

.filtrar{
    font-family: 'Abel', sans-serif;
    font-size: 1.4rem;
}


/* Tabela */
table{
    width: 80%;
    text-align: center;
    clear:both;
    margin-top: 2%;
}
td{
    vertical-align: middle !important;
}

td > img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%
}
#alugar{
    border-color: #F0F0F0;
    background: #031927;
    border-radius: 15%;
    padding: 0.5% 1%;
    font-family: 'Abel', sans-serif;
    color: #fff;
    float: right;
    margin-right: 2%;
}



/* Botões adicionar e remover */
.adc-rem{
    text-align: right;
    padding-right: 2%;
    color: #777;
    width: 100%;
    font-size: 0.8rem;
}
.adc, .rem, .editar, .desativar, .info{
    background-repeat: no-repeat;
    height:1.6rem;
    width: 1.6rem;
    border-color: transparent;
    border-radius:50%; 
    margin-right: 5%;
}
.adc {
    background-image: url(../../assets/adc-branco.png);
    background-color: #0aef15;
    margin-top: 2%;
    margin-right: 0.2%;
}

.rem{
    background-image: url(../../assets/desativar.png);
    background-color: #fd0505;
    background-size: cover;
    background-position:2% 0; 
}
.desativar{
    background-image: url(../../assets/desativar.png);
    background-color: #777272;
    background-size: cover;
    background-position:center;
    margin-right:0 ;
}
.info{
    background-image: url(../../assets/info.png);
    background-color: #fcba03;
    background-size: 90% 95%;
    background-position:center;
}
.editar{
    background-image: url(../../assets/editar.png);
    background-color: #0a20ad;
    background-size: 90% 90%;
    background-position:center;
    
}
.icones{
    width: 12%
}

.info-empresas{
    text-align: left;
}


fieldset{
    border-bottom:1px solid #ced4da;
    padding-bottom: 1%;
    
}
#salvar{
    background-color: #0aef15;
    border-color: #0aef05;
    width: 10rem;
    margin-right: 2%;
}

#cancelar{
    background-color: #fd0505;
    border-color: #fd0405;
    width: 10rem;
}
.desativada{
    color:red
}
.editar-table{
    float: right;

}

.editar-table i{
    position: relative;
}

.fas{
    display: inline;
    margin-right: 5%
}
.titulo-empresa{
    clear: both;
    text-align: center;
    color: #fff;
     background-color: #0E3862;
}
h3{
    width: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    color: #2466A7;
    border-bottom: 1px solid #2466A7;
    padding-bottom: 0.5%;
    text-align: center;
    margin-top: 2%;
}
h3:hover{
    color: #031927;
}
.span-click{
    font-size:0.9rem;
}
.informacoes{
    display: none;
}
.informacoes-moto{
    display: none;
}
.links-expandir{
    text-align: left;
}
.informacoes-veiculo{
    display: none;
}
@media (max-width: 1000px) {
    
}
@media (max-width: 770px) {
        .id, .telefone, .validade, .multas{
        display: none;
    }
    label{
        word-wrap: no-wrapping;
    }
   .col-md-2{
       width: 100% !important
   }
}

@media (max-width: 500px) {

   
}